@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

label {
  color: white;
  padding: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./railway.jpeg');
  background-size: cover;
  display: ruby-base-container;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 70vw;
  font-family: 'Raleway', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

label {
  color: white;
  padding: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./train.jpeg');
  background-size: cover;
  display: ruby-base-container;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}
label {
  color: black;
}
